h1 {
    text-align: center;
    margin-top:3em;
}

html {
    font-family: arial;
}
.header {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
 }  a {
    text-decoration: none;
    color: darkblue;
  }